.form {
  text-align: center;
}

.cta {
  background-color: hsl(248, 32%, 49%);
  color: #fff;
  padding: 1rem 0;
  margin-top: 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 2px -2px gray;
}

.ctaContent {
  width: 50%;
  margin: 0 auto;
}

.ctaContent span {
  font-weight: 700;
}
