.formSection {
  text-align: center;
  padding-bottom: 4rem;
}

.cta {
  background-color: hsl(248, 32%, 49%);
  color: #fff;
  padding: 1rem 0;
  margin-top: 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 2px -2px gray;
}

.ctaContent {
  width: 50%;
  margin: 0 auto;
}

.ctaContent span {
  font-weight: 700;
}

.form {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 2px -2px gray;
}

/* ADDED */
.inputWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 1.2rem;
}

.input {
  width: 100%; /* ADDED */
  margin-bottom: 1.2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
}

.errorIcon {
  position: absolute;
  top: 20%;
  right: 10%;
}

.errorMsg {
  position: absolute;
  bottom: -0.5rem;
  right: 1rem;
  color: hsl(0, 100%, 74%);
  font-size: 0.8rem;
}

.submitBtn {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.submitBtn:hover {
  opacity: 0.9;
}

.terms {
  width: 80%;
  margin: 0 auto;
  line-height: 2;
  padding-bottom: 0.5rem;
  color: hsl(246, 25%, 77%);
}

.terms span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

/* Media Queries */
@media (min-width: 1100px) {
  .formSection {
    margin-top: 4.7rem;
    padding-right: 3rem;
  }

  .cta {
    margin: 0;
  }

  .ctaContent {
    width: 80%;
  }
}
