@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 100%, 74%) url('./images/bg-intro-mobile.png') center
    center no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 645px;
  margin: 0 auto;
}

/* Media Queries */
@media (min-width: 550px) {
  body {
    background-image: url('./images/bg-intro-desktop.png');
  }
}

@media (min-width: 1100px) {
  .mainContainer {
    flex-direction: row;
  }
}
